:root {
  --title-color: #212121;
  --main-color: #757575;
  --acent-color: #2196f3;
  --main-text-font: 'Roboto', sans-serif;
}

.btn-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title-color);
  background-color: #f5f4fa;
  cursor: pointer;
}
.btn-item:focus,
.btn-item:hover {
  color: #fff;
  background-color: var(--acent-color);
}

.card-link {
  color: var(--main-color);
}
.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.card-ftr {
  font-size: 16px;
  line-height: 1.87;
  color: var(--main-color);
}

.card-img {
  width: 370px;
  height: 294px;
}
